<app-top-nav></app-top-nav>

<div class="conteneur">

  <header>
    <section >

      <div class="header-left">
        <img src="./assets/img/photo.jpg" alt="header">
      </div>

      <div class="header-right">
        <h1 class="header-title text-primary">SILVA MARTINS Susana</h1>
        <h2 class="header-sub-title text-success">Développeuse Web Junior</h2>
        <p class="lead">Passionné par la façon dont la technologie nous rend la vie plus facile, je veux en faire partie aussi! Pour cela je cherche une alternance à partir du 13/06 (rythme d'alternance de 5 semaines en entreprise et 1 semaine d'école)</p>
      </div>

    </section>
  </header>

  <main>
    <section>

      <div class="main-left">
          <h2 class="header-sub-title" >Informatique</h2>

            <p> HTML, CSS, Bootstrap, JS, Ajax Angular 2, SQL, PHP, POO, Symfony, UX et UI Design, Figma, WordPress, Prestashop </p>
            <small class="text-dark">(formation)</small>

            <p>Dev C++, R, SPSS, Simio, SAP</p>
            <small class="text-dark">(académique)</small>

            <p>Silex - BeStitch</p>
            <small class="text-dark">(entreprise)</small>

            <p>Pack office</p>

          <br>

          <h2 class="header-sub-title" >Langues</h2>
            <p> Anglais </p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 77%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <p>Portugais</p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          <br>

          <h2 class="header-sub-title" >Centres d'intérêt</h2>
            <p> Dessin 3D </p>
            <small class="text-dark">(Kosikasa, Home by me)</small>

            <p> Sport amateur </p>
            <small class="text-dark">(Volley Ball, Vélo)</small>


      </div>

      <div class="main-right">
          <h2 class="header-sub-title">Formations</h2>
            <h4 class="bg-primary"> Développeur Web et Web Mobile - 490h </h4>
            <small class="text-success"> WEB FORCE 3 - Paris, France </small>
            <p>Titre Professionnel BAC+2 - Développer la partie front et back-end</p>

            <h4 class="bg-primary"> Compétences de Base Professionelles </h4>
            <small class="text-success"> FREE Compétences - Possy, France </small>
            <p>Certificat CléA /Formation SST /Formation «Gestes et Postures»</p>

            <h4 class="bg-primary"> Cours d'anglais </h4>
            <small class="text-success"> Wall Street English - Portugal </small>
            <p> Certificat de formation professionnelle </p>

          <br>

          <h2 class="header-sub-title">Diplômes</h2>
            <h4 class="bg-primary"> Master en Ingénierie des Systèmes - Logistique </h4>
            <small class="text-success"> Université du Minho - Portugal </small>
            <p>Stage 6 mois • BESTITCH  <br>
              Mémoire: Étude et mise en place d’un système informatique - Silex</p>

            <h4 class="bg-primary"> BAC+3 Statistique Appliquée </h4>
            <small class="text-success"> Université du Minho - Portugal </small>
            <p>Stage 3 mois • AXA <br>
              Thème: Modélisation des primes émises</p>

          <br>

          <h2 class="header-sub-title">Expériences professionnelles</h2>
            <h4 class="bg-primary"> Analyste Fonctionnel ERP Silex </h4>
            <small class="text-success"> BESTITCH - Portugal </small>
            <p>* Proposer des nouvelles fonctionnalités et améliorations <br>
              * Tester le programme <br>
              * Assistance et support technique utilisateurs</p>


            <h4 class="bg-primary"> Job étudiant </h4>
            <small class="text-success"> Université du Minho - Portugal </small>
            <small>Stage 3 mois • AXA </small>
            <p>• Assistante administrative dans le complexe sportif <br>
              • Assistante au bureau de communication <br>
              • Assistante au bureau des anciens élèves</p>

      </div>

    </section>
  </main>

</div>

<app-footer></app-footer>
