<app-top-nav></app-top-nav>

<div class="conteneur">

<header>
  <section >

    <div class="header-left">
      <img src="./assets/img/photo.jpg" alt="header">
    </div>

    <div class="header-right">
      <h1 class="header-title text-primary">SILVA MARTINS Susana</h1>
      <h4 class="header-sub-title text-success">Développeuse Web Junior</h4>
      <p class="lead">Passionné par la façon dont la technologie nous rend la vie plus facile, je veux en faire partie aussi! Pour cela je cherche une alternance à partir du 13/06 (rythme d'alternance de 5 semaines en entreprise et 1 semaine d'école)</p>
    </div>

  </section>
</header>

<main>
  <section>

    <div class="main-left">
        <h4 class="header-sub-title" >Informatique</h4>

        <p> HTML, CSS, Bootstrap, JS, Ajax Angular 2, SQL, PHP, POO, Symfony, UX et UI Design, Figma, WordPress, Prestashop </p>
        <small class="text-dark">(formation)</small>


        <p>R, SPSS, Simio, SAP</p>
        <small class="text-dark">(académique)</small>


        <p>Silex - BeStitch</p>
        <small class="text-dark">(entreprise)</small>

        <p>Pack office</p>

    </div>

    <div class="main-right">
        <h2>Formations</h2>
        <h4 class="header 1178bg-success ">Développeur Web et Web Mobile - 490h</h4>
        <small>WEB FORCE 3 - Paris, France</small>
        <p>Certificat CléA /Formation SST /Formation «Gestes et Postures»</p>


      </div>

  </section>
</main>

</div>
<app-footer></app-footer>
